@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Permanent+Marker&display=swap');

* {
    padding: 0;
    margin: 0;
}

/* Universal Styling */

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Permanent Marker', sans-serif;
}

/* Navbar and logo */

nav {
    position: absolute;
    width: 100vw;
    height: 200px;
}

.active-tab {
    border-bottom: 1px solid;
}

#logo{
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 50px;
}

#logo img {
    width: 200px;
    height: 200px;
}

#menu {
    float:right;
    margin: 75px 50px 75px 0;
}

#menu li {
    padding-right: 30px;
    list-style-type: none;
    display: inline;
}

#menu li a {
    text-decoration: none;
    color: #fdfdfd;
    font-size: x-large;
}


/* Hero image and scroll down buttom */

.hero-container {
    height: 95vh;
    position: relative;
}

.hero-heading {
    top: 50%;
    position: absolute;
    margin-left: 50px;
    color: #fdfdfd;
}

.hero-heading h1 {
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
    font-size: 60px;
}

#hero-cover {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#hero-image {
    height: 95vh;
    background: url(/assets/images/joseph-pearson-FrmpLKLNgNw-unsplash.jpg) center center / cover no-repeat;
    }

#hero-image-events {
    height: 95vh;
    background: url(/assets/images/anthony-delanoix-hzgs56Ze49s-unsplash.jpg) center center / cover no-repeat;
    }

#hero-image-services {
    height: 95vh;
    background: url(/assets/images/duncan-shaffer-0JTDHPIjkHc-unsplash.jpg) center center / cover no-repeat;
    }

#hero-image-contact {
    height: 95vh;
    background: url(/assets/images/pien-muller-Fh-Q-xfdh_o-unsplash.jpg) center center / cover no-repeat;
    }

#scroll-down {
    bottom: 0;
    width:100%;
    position: absolute;
    color: #fdfdfd;
    text-align: center;
}

#scroll-down p {
    font-size: large;
    margin-bottom: 0;
    padding-top:10px;
    
}

#scroll-down a {
    color: #fdfdfd;
    font-size: 60px;
   
}


/* What We Offer Section */

.container{
    width: 100%;
    margin-top: 20px;
}

.container h1 {
    text-align: center;
}

/* Job Oppotunities Section */

.job-container {
    margin: 20px 50px 0 50px;
}

.job-container h3 {
    font-family: 'Permanent Marker', sans-serif;
}

/* Footer */

.footer-container {
    margin: 20px 50px 0 50px;
}

#social-tags {
    font-size: xx-large;
}

#social-tags a {
    padding-right: 15px;
    text-decoration: none;
    color: black;
}


